.hidden {
    display: none;
}

body {
    font-size: 16px;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

.icon-container {
    display: flex;
    flex-direction: row;
}
.icon-container div {
    width: 50%;
}
/* #bobmarley {
    min-width: 600px;
    margin: 0 auto;
}

#freddiemercury {
    min-width: 600px;
    margin: 0 auto;
}

#johnlennon {
    min-width: 600px;
    margin: 0 auto;
}

#jimihendrix {
    min-width: 600px;
    margin: 0 auto;
}

#kurtcobain {
    min-width: 600px;
    margin: 0 auto;
